body::before {
    display: block;
    content: '';
    height: 60px;
}

#map {
    width: 100%;
    height: 230%;
    border-radius: 10px;
}

@media(min-width: 768px) {
    .news-input {
        width: 50%;
    }
}

.navbar a{
    font-family: Impact !important;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    Padding: 10px;
    margin-left: 40px;
}

h1 {
    font-family: Impact !important;
    text-shadow: 2px 2px 30px;
    font-size: 50px;
}

h2 {
    font-family: Impact !important;
    text-shadow: 2px 2px 10px;
    font-size: 40px;
  }

h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 2px 2px 3px;
    font-size: 20;

}

h5 {
    font-family: Impact !important;
    text-shadow: 2px 2px 4px;
    font-size: 26px;
}

.rounded-circle {
    object-fit: cover;
    height: fit-content;
    width: fit-content;
}




  



